@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif ;
  --header-height: 4rem;
  --main-color: #334834;
  --secondary-color: white;
}

body {
  color: var(--secondary-color);
}

header {
  position: fixed;
  background-color: var(--secondary-color);

  width: 100%;
  top: 0;

  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .4);
  z-index: 5;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;
  
  min-height: var(--header-height);

  list-style: none;
  gap: 20px;
}

header li {
  text-align: center;
  cursor: pointer;

  background-color: var(--main-color);

  padding: 0.5rem 1rem;
  border-radius: 4px; 
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--main-color);
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer a:hover,
header li:hover {
  text-decoration: underline;
}

#logo,
.home-splash h1 {
  font-family: "Lobster", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  color: var(--main-color);
  text-decoration: underline;
  font-size: 2.5rem;

  white-space: nowrap;
}

.content {
  padding-top: var(--header-height);
  min-height: 100vh;
}

.content > * {
  padding: 0 ;
}

.home-splash {
  background: var(--main-color) url(./home/burguer_image_full.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;

  display: grid;
  place-content: center;
}

.home-splash h1 {
  font-size: 4rem;
  text-shadow: 4px 4px var(--secondary-color);
}

.home-menu {
  background-color: var(--main-color);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-section {
  display: grid;
  overflow: hidden;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  place-self: center;

  background-color: var(--main-color);
  width: 80%;

  text-align: center;

  display: grid;
  place-content: center;

  border-radius: 4px;

  padding: 2rem;
  margin: 2rem;
  gap: 1rem;
}

.hero-text::before {
  content: "";
  position: absolute;
  
  width: 200%;
  height: 200%;
 
  top: -50%;
  left: -50%;

  background: url(./home/burguer_icon.png);
  background-color: var(--secondary-color);
  background-size: fill;

  transform: scale(1.2) rotate(30deg);
  z-index: -1;
}

.hero-text h2,
.home-menu h2 {
  position: relative;
  font-size: 2rem;
  
  text-decoration: underline;
}

.hero-text p,
.home-menu p {
  font-size: 1.25rem;
}

button {
  justify-self: center;
  
  padding: .5rem 1.5rem;
  width: fit-content;

  color: var(--main-color);
  background-color: white;
  border: 2px solid var(--main-color);

  font-size: 1.2rem;

  box-shadow: 4px 4px 0 0 black;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(.9);
}

.menu-page {
  padding: 2rem 0;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.menu {
  color: var(--main-color);
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.menu + .menu {
  margin-top: 2rem;
}

.menu h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.menu-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 350px;
  gap: 20px;
}

.lunch-card {
  width: 100%;
  color: var(--main-color);
  background-color: var(--secondary-color);

  border-radius: 4px;
}

.lunch-card:hover {
  box-shadow: 0 0 0 2px var(--main-color);
}

.lunch-card img {
  width: 100%;
  height: 50%;

  object-fit: cover;
  object-position: center;

  border-radius: 4px 4px 0 0;
}

.lunch-card .lunch-info{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  padding: 1rem;
}

.lunch-name {
  font-size: 1.2rem;
}

.lunch-description {
  font-size: 0.7rem;
}

.lunch-price {
  font-size: 1.5rem;
}

.lunch-price::before {
  content: '$';
}